* {
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root {
    --Fundo: #1B2430;
    --Principal: #240746;
    --Janelas: #2D236E;
    --Detalhe: #5B4EA3;
    --JanelaSecundaria: #441F72;
    --Botao: #18062C;
    --Simbolo: #ffffff;
}

body {
    background-color: var(--Fundo);
}

.modoclaro {
    --Fundo: #897DCF;
    --Principal: #403CA7;
    --Janelas: #32228F;
    --Detalhe: #897DCF;
    --JanelaSecundaria: #5450C5;
    --Botao: #241F9F;
    --Simbolo: #32228F;

    .header .vetor.esquerdo {

        content: url(Vetores/Página\ Inicial/Header/vetorLClaro.png);
    }

    .header .vetor.direito {
        content: url(Vetores/Página\ Inicial/Header/VetorRClaro.png);
    }

    .hexagon.esquerdo {
        content: url(Vetores/Página\ Inicial/Main/HexagonLClaro.png);
    }

    .hexagon.direito {
        content: url(Vetores/Página\ Inicial/Main/HexagonRClaro.png);
    }

    .footer .vetor.esquerdo {

        content: url(Vetores/Página\ Inicial/Footer/VetorLClaro.png);
    }

    .footer .vetor.direito {
        content: url(Vetores/Página\ Inicial/Footer/VetorRClaro.png);
    }

}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    backface-visibility: hidden;
}

@keyframes SobreAnimation {
    50% {
        transform: translateY(-25%);
    }
}

@keyframes HexagonAnimation {
    50% {
        transform: scale(1.2);
    }
}

h1 {
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
}

.txt {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
}

.botao {
    display: inline-block;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    background-color: var(--Botao);
    box-shadow: 2px 2px 9px var(--Janelas);
    padding: 1% 2.5%;
    border-radius: 30px;
    height: auto;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

.botao:hover {
    transform: scale(1.2);
}

.header .vetor.esquerdo {
    content: url(Vetores/Página\ Inicial/Header/VetorLEscuro.png);
}

.header .vetor.direito {
    content: url(Vetores/Página\ Inicial/Header/VetorREscuro.png);
}

.hexagon.esquerdo {
    content: url(Vetores/Página\ Inicial/Main/HexagonLEscuro.png);
}

.hexagon.direito {
    content: url(Vetores/Página\ Inicial/Main/HexagonREscuro.png);
}

.footer .vetor.esquerdo {
    content: url(Vetores/Página\ Inicial/Footer/vetorLEscuro.png);
}

.footer .vetor.direito {
    content: url(Vetores/Página\ Inicial/Footer/VetorREscuro.png);
}

.header {


    .HeaderDetalhes {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    header {
        padding: 0 5%;
        height: 100px;
        background-color: var(--Principal);
        display: flex;
        align-items: center;
        justify-content: space-between;

        >div {
            display: flex;
            align-items: center;
            width: 40%;
            gap: 5%;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            justify-content: center;
            margin: 0;
            gap: 5%;

            li {
                a {
                    text-decoration: none;
                }
            }

            li:nth-child(1) a {
                text-decoration: underline;
            }

            li:hover {
                transform: scale(1.2);
            }
        }


    }

}

#inicio {
    display: flex;
    flex-flow: column;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                animation: HexagonAnimation 1s 1 ease-out;
            }

            div {
                display: flex;
                flex-flow: column;

                h1 {
                    font-size: 64px;
                }

                p {
                    font-size: 32px;
                }
            }
        }

        margin-bottom: 10%;
    }

    .sobre {
        width: 73%;
        background-color: var(--Janelas);
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 2.5%;
        border-radius: 30px;
        gap: 30px;
        animation: SobreAnimation ease-out 1s 1;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);

        h1 {
            text-align: center;
            font-size: 48px;
        }

        .txt {
            font-size: 20px;
        }
    }

    .sobre:hover {
        transform: translateY(-20px);
    }
}

.footer {
    .FooterDetalhes {
        display: flex;
        justify-content: space-between;
    }

    footer {
        padding: 0 5%;
        height: 250px;
        background-color: var(--Principal);
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .footerInfo {
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            h1 {
                text-align: center;
            }

            .footerSimbolos {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 2fr 1fr;

                span {
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-align: center;

                    i {
                        font-size: 28px;
                    }
                }

                i {
                    color: var(--Detalhe);
                    font-size: 30px;
                }

                a {
                    text-align: center;
                }

                >a:hover i {
                    transform: scale(1.2);
                }
            }
        }
    }

}

#habilidades {
    display: flex;
    flex-flow: column;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .container {
            width: 90%;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .habilidade {
                position: relative;
                border-radius: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1 / 1;

                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    z-index: 2;
                    cursor: pointer;
                }

                .conteudo {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }

                .front,
                .back {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 100px;
                    background: #240746;
                    color: white;
                }

                .back {
                    opacity: 0;
                    justify-content: start;
                    padding: 10% 0;

                    section {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    
                    h1{
                        font-size: 36px;
                    }

                    .txt {
                        display: inline-block;
                        font-size: 24px;
                        padding: 0 10%;
                    }
                }

                input:checked~.conteudo {
                    transform: rotateY(180deg);

                    .front {
                        opacity: 0;

                    }

                    .back {
                        transform: rotateY(180deg);
                        opacity: 1;
                    }
                }
            }

            .habilidade:hover {
                transform: translateY(-10px);
            }
        }
    }
}
#projetos {
    display: flex;
    flex-flow: column;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 80%;
            padding: 0 2.5%;
            gap: 2.5%;

            .card {
                background: #2D236E;
                background: radial-gradient(circle, rgba(45, 35, 110, 1) 0%, rgba(36, 7, 70, 1) 100%);
                border-radius: 50px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                }
                .desc {
                    width: 80%;
                    display: flex;
                    i{font-size: 48px;
                    color: #D4AF37;}
                }
            }
        }
    }
}