* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

body {
    background-color: var(--Fundo);
    overflow-x: hidden;
}

:root {
    --Fundo: #1B2430;
    --Principal: #240746;
    --Janelas: #2D236E;
    --Detalhe: #5B4EA3;
    --JanelaSecundaria: #441F72;
    --Botao: #18062C;
    --Simbolo: #ffffff;
    --bgLTop: url(Vetores/Página\ Inicial/Header/VetorLEscuro.png);
    --bgRTop: url(Vetores/Página\ Inicial/Header/VetorREscuro.png);
    --bgLBot: url(Vetores/Página\ Inicial/Footer/VetorLEscuro.png);
    --bgRbot: url(Vetores/Página\ Inicial/Footer/VetorREscuro.png);
}



.modoclaro {
    --Fundo: #897DCF;
    --Principal: #403CA7;
    --Janelas: #32228F;
    --Detalhe: #897DCF;
    --JanelaSecundaria: #5450C5;
    --Botao: #241F9F;
    --Simbolo: #32228F;
    --bgLTop: url(Vetores/Página\ Inicial/Header/VetorLClaro.png);
    --bgRTop: url(Vetores/Página\ Inicial/Header/VetorRClaro.png);
    --bgLBot: url(Vetores/Página\ Inicial/Footer/VetorLClaro.png);
    --bgRbot: url(Vetores/Página\ Inicial/Footer/VetorRClaro.png);

    .hexagon.esquerdo {
        content: url(Vetores/Página\ Inicial/Main/HexagonLClaro.png);
    }

    .hexagon.direito {
        content: url(Vetores/Página\ Inicial/Main/HexagonRClaro.png);
    }

    header .botao::after {
        content: "Modo Escuro";
    }
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    backface-visibility: hidden;
}

@keyframes SobreAnimation {
    50% {
        transform: translateY(-25%);
    }
}

@keyframes HexagonAnimation {
    50% {
        transform: scale(1.2);
    }
}

h1 {
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
}

.underline {
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 5px !important;
    font-weight: 600;
}

.txt {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
}

.botao {
    display: inline-block;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    background-color: var(--Botao);
    box-shadow: 2px 2px 9px var(--Janelas);
    padding: 1% 2.5%;
    border-radius: 30px;
    height: auto;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    user-select: none;
}

#check {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.header .vetor.esquerdo {
    content: var(--bgLTop);
}

.header .vetor.direito {
    content: var(--bgRTop);
}

.hexagon.esquerdo {
    content: url(Vetores/Página\ Inicial/Main/HexagonLEscuro.png);
}

.hexagon.direito {
    content: url(Vetores/Página\ Inicial/Main/HexagonREscuro.png);
}

.footer .vetor.esquerdo {
    content: var(--bgLBot);
}

.footer .vetor.direito {
    content: var(--bgRbot);
}

a {
    text-decoration: none;
}

.header {


    .HeaderDetalhes {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    header {
        padding: 0 5%;
        height: 100px;
        background-color: var(--Principal);
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            display: none;
        }



        >div {
            display: flex;
            align-items: center;
            width: 40%;
            gap: 5%;

            h1 {
                font-size: clamp(20px, 3vw, 36px);
            }

            div {
                font-size: clamp(18px, 2.5vw, 24px);
            }

            div::after {
                content: "Modo Claro";
            }
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            justify-content: center;
            margin: 0;
            gap: 5%;

            li {
                a {
                    text-decoration: none;
                    font-size: clamp(24px, 3vw, 30px);
                }
            }


            li:hover {
                transform: scale(1.2);
                text-decoration: underline !important;
                font-weight: 600;
                text-decoration-color: #ffffff !important;
                text-underline-offset: 5px !important;
            }
        }


    }

}

#menu {
    display: none;
}

#inicio {
    display: flex;
    flex-flow: column;
    align-items: center;


    main {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                animation: HexagonAnimation 1.8s 2 ease-out;
            }

            div {
                display: flex;
                flex-flow: column;

                h1 {
                    font-size: clamp(24px, 6vw, 72px);
                    line-height: 1.2;
                }

                p {
                    line-height: 1.2;
                    font-size: clamp(20px, 3vw, 36px);

                }
            }
        }

        margin-bottom: 10%;
    }

    .sobre {
        width: 73%;
        background-color: var(--Janelas);
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 2.5%;
        border-radius: 30px;
        gap: 30px;
        animation: SobreAnimation ease-out 1s 1;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25);

        h1 {
            text-align: center;
            font-size: clamp(20px, 4vw, 48px);
        }

        .txt {
            font-size: clamp(14px, 2vw, 20px);
            font-weight: 300;
        }
    }

    .sobre:hover {
        transform: translateY(-20px);
    }
}

.footer {
    .FooterDetalhes {
        display: flex;
        justify-content: space-between;
    }

    footer {
        padding: 0 5%;
        height: 250px;
        background-color: var(--Principal);
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        >h1 {

            font-size: clamp(24px, 4vw, 48px);
        }

        .footerInfo {
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            h1 {
                text-align: center;
                font-size: clamp(20px, 3vw, 36px)
            }

            .footerSimbolos {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 2fr 1fr;

                span {
                    font-size: clamp(16px, 2.2vw, 20px);
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-align: center;

                    i {
                        font-size: 28px;
                    }
                }

                i {
                    color: var(--Detalhe);
                    font-size: 30px;
                }

                a {
                    text-align: center;
                }

                >a:hover i {
                    transform: scale(1.2);
                }
            }
        }
    }

}


#habilidades {
    display: flex;
    flex-flow: column;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .container {
            width: 50%;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .habilidade {
                position: relative;
                border-radius: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1 / 1;

                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    z-index: 2;
                    cursor: pointer;
                }

                .conteudo {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }

                .front,
                .back {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30%;
                    flex-direction: column;
                    background: #5B4EA3;
                    background: radial-gradient(circle, var(--Detalhe) 0%, var(--Principal) 100%);
                    color: white;
                }

                .back {
                    opacity: 0;
                    justify-content: start;
                    padding: 10% 0;

                    section {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    h1 {
                        display: inline-block;
                        font-size: clamp(18px, 3vw, 36px);
                    }

                    .txt {
                        display: inline-block;
                        font-size: clamp(12px, 1vw, 20px);
                        padding: 0 10%;
                    }
                }

                input:checked~.conteudo {
                    transform: rotateY(180deg);

                    .front {
                        opacity: 0;

                    }

                    .back {
                        transform: rotateY(180deg);
                        opacity: 1;
                    }
                }

                .logo {
                    text-align: center;
                    flex-grow: 8;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    object-fit: cover;

                    img {
                        height: 100%;
                        width: 100%;
                    }

                }

                h1 {
                    flex-grow: 2;
                    text-align: center;
                    font-size: clamp(16px, 3vw, 36px);
                }
            }

            .habilidade:hover {
                transform: translateY(-10px);
            }
        }
    }
}

#projetos {
    display: flex;
    flex-flow: column;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 80%;
            padding: 0 2.5%;
            gap: 5%;

            .card:hover {
                transform: scale(1.05);

                .desc h1 {
                    color: #D4AF37;
                }
            }

            .card {
                text-decoration: none;
                background: #2D236E;
                background: radial-gradient(circle, rgba(45, 35, 110, 1) 0%, rgba(36, 7, 70, 1) 100%);
                border-radius: 50px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 2.5%;

                .desc {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    flex-flow: column;
                    text-align: center;

                    h1 {
                        color: #a780c2;
                    }

                    i {
                        width: 100%;
                        text-align: right;
                        font-size: 36px;
                        color: #D4AF37;
                    }


                    .button {
                        background-color: var(--Botao);
                        padding: 2.5%;
                        border-radius: 50px;
                        cursor: pointer;
                    }

                    .button:hover {
                        transform: scale(1.03);
                    }
                }

                .desc:hover {
                    transform: translateY(-10px);

                }

                dialog::backdrop {
                    backdrop-filter: blur(10px);
                }

                dialog {
                    position: fixed;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: transparent;
                    border: 0;
                    outline: 0;

                    >div {
                        height: 70vh;
                        width: 70vw;
                        background-color: var(--JanelaSecundaria);
                        display: flex;
                        align-content: flex-start;
                        flex-flow: column;
                        position: relative;
                        padding: 2.5%;
                        border-radius: 50px;

                        h1 {
                            color: white !important;
                            font-size: 48px;
                            font-family: 'Playfair Display';
                            letter-spacing: 5px;
                        }

                        .ModalDesc {
                            display: flex;
                            align-items: center;
                            height: 80%;
                            gap: 10px;
                        }

                        img {
                            width: 60%;
                            height: 417px;
                        }

                        span {
                            height: 417px;
                            font-size: clamp(16px, 1.7vw, 25px);
                            font-size: clamp(16px, 1.7vw, 25px);
                            display: flex;
                            align-items: center;
                            text-align: right;
                        }

                        #closeModal {
                            height: 20%;
                            background-color: var(--Botao);
                            width: 20%;
                            color: white;
                            outline: 0;
                            border: 0;
                            align-self: center;
                            border-radius: 50px;
                            font-size: 24px;
                        }
                    }

                }
            }
        }
    }
}

#contato {
    display: flex;
    flex-flow: column;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70vh;
        gap: 1%;

        section {
            display: flex;
            flex-flow: row;
            background-color: var(--Principal);
            height: 110%;
            width: 100%;
            border-radius: 50px;
            padding: 2.5%;
            gap: 5%;

            form {
                background-color: var(--JanelaSecundaria);
                width: 60%;
                padding: 2.5%;

                h1 {
                    font-size: 30px;
                }

                input,
                textarea,
                button {
                    background-color: var(--Principal);
                    outline: none;
                    border: 0;
                    width: 100%;
                    border-radius: 30px;
                    padding-left: 2.5%;
                    color: var(--Simbolo);
                    font-family: 'Open Sans';
                    font-size: 18px;
                }

                input::placeholder,
                textarea::placeholder {
                    color: rgb(207, 206, 206);
                }

                input {
                    height: 48px;
                }

                button {
                    cursor: pointer;
                    margin-top: 2.5%;
                    height: 10%;
                    background-color: var(--Botao);
                    line-height: 1;
                }

                textarea {
                    padding-top: 2.5%;
                    resize: none;
                }

                button:hover {
                    transform: scale(1.02);
                }
            }

            #contatos {
                height: 80%;
                width: 35%;
                background-color: var(--JanelaSecundaria);
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-evenly;

                h1 {
                    font-size: 32px;
                    color: var(--Simbolo);
                }

                .contatoSimbolos {
                    flex-grow: 1;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: space-evenly;

                    i {
                        color: var(--Principal);
                        font-size: 48px;
                    }

                    span {
                        font-size: 20px;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                    }

                }
            }

            #contatos,
            form {
                border-radius: 50px;
            }
        }
    }
}


#modalForms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    background: var(--Principal);
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    h2 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        background: var(--Janelas);
        color: white;
        border: none;
        border-radius: 6px;
        padding: 8px 18px;
        cursor: pointer;
        font-family: "Montserrat",
            sans-serif;
        font-weight: 600;
    }

    p {
        margin-bottom: 15px;
        font-size: 20px;
    }

    #fecharModal {
        background: var(--Janelas);
        color: white;
        border: none;
        border-radius: 6px;
        padding: 8px 18px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }


}

#modalForms::backdrop {
    background: rgba(0, 0, 0, 0.5);
}




@media (max-width: 550px) {
    body {
        width: 100%;
    }


    header {
        ul {
            display: none !important;
        }

        .botao {
            z-index: 4;
            position: fixed;
            top: 5.5%;
            left: 999px;
            transform: translateX(-50%);
            transition: 1s;
            height: 5vh;
            display: flex;
            align-items: center;
        }

        #modos .botao:hover {
            transform: none !important;
        }




        >button {
            display: block !important;
            background-color: transparent;
            outline: none;
            border: 0;
            color: white;

            i {
                font-size: 24px;
            }
        }

    }

    .HeaderDetalhes {
        height: 20px;

        img {
            display: none !important;
        }

    }

    .FooterDetalhes {
        height: 20px;

        img {
            display: none !important;
        }
    }

    #menu {
        text-align: center;
        z-index: 3;
        position: fixed;
        top: 0;
        left: 999px;
        height: 100vh !important;
        width: 100%;
        background-color: var(--Principal);
        display: grid !important;
        grid-template-rows: 1fr 3fr;

        h1 {
            font-size: clamp(24px, 10vw, 72px) !important;
        }

        ul {
            display: flex;
            flex-flow: column;
            list-style: none;
            padding: 0;
            justify-content: space-evenly;
            margin: 0;
            gap: 5%;
            height: 100%;

            li {
                a {
                    text-decoration: none;
                    font-size: 48px;
                }
            }


            li:hover {
                transform: scale(1.2);
                text-decoration: underline !important;
                font-weight: 600;
                text-decoration-color: #ffffff !important;
                text-underline-offset: 5px !important;
            }
        }

        .topo {
            display: flex;
            align-items: center;
            flex-flow: column;
            padding: 2.5%;
            justify-content: space-evenly;

            i {
                font-size: 36px;
                color: white;
                align-self: flex-start;
            }
        }

        .topo>div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 30%;
            gap: 5%;
            font-size: clamp(18px, 2.5vw, 24px);
        }

        .topo>div::after {
            content: "Modo Claro";
        }
    }

    #inicio>main {

        >img {
            display: none !important;
        }

        .container {
            flex-flow: column;

            img {
                width: 80%;
                aspect-ratio: 1 / 1;
            }

            div {
                width: 80%;

                h1 {
                    text-align: center;
                    font-size: clamp(28px, 10vw, 96px);

                }

                p {
                    text-align: center;
                }

                br {
                    display: none;
                }
            }
        }
    }

    #inicio .sobre {
        padding: 10%;

        h1 {
            font-size: clamp(24px, 6vw, 72px);
        }
    }

    footer {
        flex-flow: column;

        >h1 {
            font-size: clamp(24px, 8vw, 72px) !important;
        }

        .footerInfo {
            justify-content: flex-start !important;
            gap: 20px;

            >h1 {
                font-size: clamp(24px, 6vw, 72px) !important;
            }

            .footerSimbolos {
                justify-content: center;
                align-items: center;
                grid-template-columns: 1fr !important;
                grid-template-rows: repeat(4, 1fr) !important;
                gap: 10px;

                .txt {
                    justify-content: center;
                }
            }
        }
    }

    .hexagon {
        display: none !important;
    }

    main {
        justify-content: center !important;
    }

    #habilidades .container {
        width: 80% !important;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: repeat(2, 1fr) !important;

        .back {
            h1 {
                font-size: 16px !important;
            }

            .txt {
                font-size: 10px !important;
                text-align: center;
            }
        }

        .back,
        .front {
            border-radius: 100% !important;
        }
    }

    #projetos {
        .container {
            grid-template-columns: 1fr !important;
            grid-template-rows: repeat(5, 1fr) !important;

            .card {
                .button {
                    display: none !important;
                }


            }
        }
    }

    #contato {
        section {
            height: 85% !important;
            width: 95% !important;

            form {
                width: 100% !important;
                display: flex;
                flex-flow: column;
                justify-content: center;

                .campo {
                    text-align: center;
                }
            }

            #contatos {
                display: none !important;
            }
        }
    }
}